* {
  border: 2px solid cyan;
}

#head {
  background-color: #003399;
  color: white;
  padding-bottom: 75px;
}

#menu {
  background-color: #6698CB;
  color: white;
}

#content-cont {
  display: flex;
  justify-content: space-around;
}

#left-column {
  width: 20em;
}

#right-column {
  margin-left: 1em;
}

#tom {
  display: flex;
}

#contact {
  display: flex;
  border: 4px solid #6698CB;
  flex-direction: column;
}

#contact-head {
  background-color: #6698CB;
  color: white;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

#extended-network-header {
  width: 100%;
  border: 1px solid black;
  padding: 1em;
}
.toms-interests {
  border: 4px solid #6698CB;
}
.blue-header {
  background-color: #6698CB;
  color: white;
  height: 2em;
}

.orange-header {
  background-color: orange;
  color: red;
  height: 2em;
}
.interests-content{
  display:flex;
}
.blue-column{
  display: flex;
  flex-direction: column;
}
.left {
  width: 7em;
  background-color: lightblue;
}
.right{
  width: 13em;
  background-color: lightgrey;
}
.friend-grid{
  display: flex;
  justify-content: space-around;
}
h4{

}
